/* CSS general de todas las páginas */
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family:"Jost", sans-serif;
  font-weight:600;
}
#logo {
  align-self: center;
}
.img-fluid {
  background-color: rgb(192, 238, 195);
  border-radius: 40%;
  width: 300px;
}
nav {
  background-color: rgb(255, 255, 255);
  background: linear-gradient(rgba(255, 255, 255, 0.248), rgba(0, 0, 0, 0));
  height: 80px;
}
#navbarNav { 
  justify-content: end;
  padding-right: 20px;
}
.nav-white {
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}
.nav-white:visited {
  font-weight: 500;
  color: white;
}
.nav-white:hover{
  text-decoration: underline;
  color: white;
}
.navbar-toggler {
  background-color: rgb(221, 221, 221);
}
#perfil{
  color: #8ABD82;
  font-weight: bold;
}

/* FOOTER */
.footer {
      
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(166, 192, 114, 0.671);
  text-align: center;
}
.footer .copyright {
  font-size: 12px;
}
.footer a {
  color: #09140F;
}