<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/01-SIGN_UP.css') }}">     
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <!-- <link rel="stylesheet" href="../static/css/01-SIGN_UP.css">
    <link rel="stylesheet" href="../static/css/nav1_footer.css">  -->

    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <title>BEI - Registrarse</title>  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='FAVI/favicon-32x32.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   
</head>
<body class=vh-100 overflow-hidden>
   
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
 

   <div class="container-fluid">

     <a class="navbar-brand" href="/" >
       <img src="../static/IMAGENES/bei.logo-removebg-preview.png" alt="logo" width="50" height="50">
     </a>

     <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>
    
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="sidebar offcanvas-header text-white border-bottom">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">BEI</h5>
        <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
     

       <div class="sidebar offcanvas-body">
         <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
           <li class="nav-item">
             <a id="tienda" class="nav nav-white" href="/">TIENDA</a>
           </li>
           <li class="nav-item">
             <a id="conozcanos" class="nav nav-white" href="/conozcanos">CONOZCANOS</a>
           </li>
           <li class="nav-item">
             <a id="carrito" class="nav nav-white" href="/carrito">CARRITO</a>
           </li>

           <li class="nav-item">
             <a class="nav nav-white" id="perfil" href="/login">LOGIN</a>
           </li>
           <li class="nav-item">
             <a class="nav nav-white" id="perfil" href="/signup">SIGNUP</a>
           </li>
         </ul>
       </div>
     </div>
   </div>
 </nav>


  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6" id="logo">
        <img src="{{ url_for('static', filename='IMAGENES/01.png') }}" alt="logo" class="img-fluid">
    </div>

    <div class="col-md-6" id="formulario">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{ message }}</strong> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h2>Registrarse</h2><br>

        <form id="login-form" action="/add_usuario" method="POST">

          <div class="mb-3">
            <label for="name" class="form-label">NAME</label>
            <input type="text" class="form-control" name="name" placeholder="Ingrese su correo electrónico">
          </div>


          <div class="mb-3">
            <label for="email" class="form-label">EMAIL</label>
            <input type="email" class="form-control" name="email" placeholder="Ingrese su correo electrónico">
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">CONTRASEÑA</label>
            <input type="password" class="form-control" name="password" placeholder="Ingrese su contraseña">
          </div>

          <div class="mb-3">
            <label for="text" class="form-label">DIRECCIÓN</label>
            <input type="text" class="form-control" name="direccion" placeholder="Ingrese su dirección">
          </div>

          <div class="mb-3">
            <label for="number" class="form-label">TELÉFONO</label>
            <input type="text" class="form-control" name="telefono" placeholder="Ingrese su teléfono">
          </div>

          <div class="b_primario">
            <button type="submit" class="btn_1">Registrarse</button>
          </div>
        </form>
        <span class="link-1">¿Ya tiene cuenta?</span>
        <div class="b_secundario">
          <a href="/signup"><button class="btn_2">Iniciar sesión</button></a>
        </div>
      </div>
      <br><br><br>
    </div>
</div>

<div class="footer">
  <p class="copyright">© 2024 BEI by <a href="#">SYNTAX</a> - Contáctenos: Tel. 318123123 - Mail. asdasdasd@gmail.com </p>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>
