{% extends "navbar.html" %}
{% block tittle %}ADMIN - Home{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - ADMIN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homeadmin.css') }}">  
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='FAVI/favicon-32x32.png') }}">
</head>
<body>
    
     
    <h1>BIENNVENIDooo ADMInnNN</h1>
    {% endblock %}
</body>
</html>