{% extends "navbar.html" %}
{% block tittle %}ADMIN - Home{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - ADMIN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homeadmin.css') }}">  
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='FAVI/favicon-32x32.png') }}">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <!-- Columna de texto -->
            <div class="col-md-6 text-white">
                <h1>BIENVENIDO ADMIN</h1>
                <h4>• Cesar Alejandro Segura Valero</h4>
                <h4>• Esteban Quintero Rodríguez</h4>
                <h4>• Juan David Pedraza León</h4>
                <h4>• Luis Felipe García Márquez</h4>
            </div>
            <!-- Columna para la imagen -->
            <div class="col-md-6 text-center">
                <img src="../static/IMAGENES/02-LOGO_BEI.png" class="img-fluid" alt="Imagen de bienvenida">
            </div>
        </div>
    </div>
    
    {% endblock %}
</body>
</html>