{% extends "navbar.html" %}
{% block tittle %}index{% endblock %}
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,500&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" sizes="32*32" href="FAVI/favicon-32x32.png">

{% block content %}
    <br>
    <br>
    <section class="row">
      <div class="col-sm-1"></div>
      <div class="col-lg-6">
        <h1 class="home">Bolsas Ecológicas Isotérmicas (BEI)</h1>
        <i class="texthome">"Llena el mundo de amor, no de plástico"</i>
      </div>
    </section>
    <br>
    <br>
    <br>
    <br>
   <section class="row">
    <div class="col-sm-1"></div>
    <div class="col-md-4">
      <div class="text-light ">
        <h2 class="sections">¡Echa un vistazo a nuestro catálogo!</h2>
        <br>
      </div>

      <div class="row"> <!--FILA-->
        <div class="col-sm-5 card"> <!--COLUMNA1-->
          <img src="../static/IMAGENES/07-BOLSITA.jpg" alt="Bolsa ecológica blanca" class="card-img-top" height="100">
          <div class="card-body">
            <h5 class="card-title">BEI - Blanca</h5>
            <p class="card-text">$20.000 COP</p>
            <a href="/producto" class="btn btn-success">Ver más</a>
          </div>
        </div>

        <div class="col-sm-5 card"> <!--COLUMNA1-->
          <img src="../static/IMAGENES/07-BOLSITA.jpg" alt="Bolsa ecológica blanca" class="card-img-top" height="100">
          <div class="card-body">
            <h5 class="card-title">BEI - Blanca</h5>
            <p class="card-text">$20.000 COP</p>
            <a href="/producto" class="btn btn-success">Ver más</a>
          </div>
        </div>

        <div class="col-sm-5 card"> <!--COLUMNA1-->
          <img src="../static/IMAGENES/07-BOLSITA.jpg" alt="Bolsa ecológica blanca" class="card-img-top" height="100">
          <div class="card-body">
            <h5 class="card-title">BEI - Blanca</h5>
            <p class="card-text">$20.000 COP</p>
            <a href="/producto" class="btn btn-success">Ver más</a>
          </div>
        </div>

        <div class="col-sm-5 card"> <!--COLUMNA1-->
          <img src="../static/IMAGENES/07-BOLSITA.jpg" alt="Bolsa ecológica blanca" class="card-img-top" height="100">
          <div class="card-body">
            <h5 class="card-title">BEI - Blanca</h5>
            <p class="card-text">$20.000 COP</p>
            <a href="/producto" class="btn btn-success">Ver más</a>
          </div>
        </div>

        <div class="col-sm-5 card"> <!--COLUMNA1-->
          <img src="../static/IMAGENES/07-BOLSITA.jpg" alt="Bolsa ecológica blanca" class="card-img-top" height="100">
          <div class="card-body">
            <h5 class="card-title">BEI - Blanca</h5>
            <p class="card-text">$20.000 COP</p>
            <a href="/producto" class="btn btn-success">Ver más</a>
          </div>
        </div>

        <div class="col-sm-5 card"> <!--COLUMNA1-->
          <img src="../static/IMAGENES/07-BOLSITA.jpg" alt="Bolsa ecológica blanca" class="card-img-top" height="100">
          <div class="card-body">
            <h5 class="card-title">BEI - Blanca</h5>
            <p class="card-text">$20.000 COP</p>
            <a href="/producto" class="btn btn-success">Ver más</a>
          </div>
        </div>
        
      </div>
      
    </div>
    <div class="col-md-5">
      <div class="text-light">
        <h2 class="sections">¿Por qué es importante usar bolsas ecológicas?</h2> <br>
      </div>
      <div class="text">
        <h4>
          Las bolsas ecológicas son importantes porque ayudan a proteger el medio ambiente. Las bolsas de plástico son un problema para el medio ambiente porque tardan cientos de años en descomponerse, lo que contribuye a la contaminación del aire, el agua y el suelo. Las bolsas ecológicas, por otro lado, están hechas de materiales biodegradables o reciclables, lo que significa que se pueden descomponer de manera natural o reutilizarse, reduciendo así el impacto ambiental.
         Además de ser respetuosas con el medio ambiente, las bolsas ecológicas también son más duraderas que las bolsas de plástico. Las bolsas de plástico suelen romperse o rasgarse con facilidad, lo que obliga a los consumidores a comprar nuevas bolsas con frecuencia. Las bolsas ecológicas, por otro lado, pueden reutilizarse muchas veces, lo que ahorra dinero y reduce el desperdicio.
         Por todas estas razones, es importante utilizar bolsas ecológicas. Al hacerlo, estamos contribuyendo a proteger el medio ambiente y a reducir nuestro impacto en el planeta.
        </h4>    
      </div>
      <br>
      <div class="row">
        <h2 class="home">Más info:</h2>
        <br>
        <div class="col-md-4">
          <div class="container-fluid">
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d351.4525553613848!2d-74.0951251671616!3d4.729760054272263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f8547f94ea9b3%3A0x9b30751148637f53!2sIED%20Gonzalo%20Arango!5e0!3m2!1ses-419!2sco!4v1721913132365!5m2!1ses-419!2sco" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>

        <div class="col-md-4">
          <div class="container-fluid">
            <iframe width="400" height="300" src="https://www.youtube.com/embed/X8NmwFlzFnc?si=9ex6gTdnR2hxtcEI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>

    </div>
  </div>

{% endblock %}
</body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>


