{% if session.get('tipo') == 1 %} <!-- Se mostrará la página únicamente a ADMINS 
agregar la página -->
    
    {% else %}
    
    <h1>😓 No tienes una cuenta de Administrador, el acceso a esta página no es posible para ti por el momento</h1>
    <img src="https://gruporeforma.reforma.com/graficohtml5/interfase/gifs_animados/images/intro_KeyboardCat.gif" alt="gatoadvertenciaA">
    <div class="b_primario">
        <button type="submit" class="btn_1"> <a href="/signup">Registrate</a></button>
        <button type="submit" class="btn_1"> <a href="/login">Inicia sesión</a></button>
    </div>    
    {% endif %}
    
    {% endblock %}
