<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir producto</title>
</head>
<body>
    <h1>Subir producto a la tienda</h1>
    <form action="/producto">
        <input type="text" name="nombre" placeholder="Nombre del producto"> <br>
        <input type="text" name="descripcion" placeholder="Descripción del producto"> <br>
        <input type="text" name="precio" placeholder="Precio del producto"> <br>
        <input  title="input" type="number" name="cantidad" class="form-control" value="1" min="1" max="50"> <br>
        <input type="file" name="image" placeholder="Inserte imagen del producto"> <br>
        <input type="submit" value="Subir">
    </form>
</body>
</html>