<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <link rel="stylesheet" href="../static/css/usuarios.css"> 
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">

<table border="2px">
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Email</td>
    <td>Password</td>
    <td>Direccion</td>
    <td>Telefono</td>
    <td>Permiso</td> <!-- Tipo de usuario -->
    <td>Operations</td>
  </tr>
  <tbody>
    {% for signups in signup %}
    <tr>
      <td>{{ signups.0 }}</td>
      <td>{{ signups.1 }}</td>
      <td>{{ signups.2 }}</td>
      <td>{{ signups.3 }}</td>
      <td>{{ signups.4 }}</td>
      <td>{{ signups.5 }}</td>
      <td>{{ signups.6 }}</td> <!-- el tipo de permiso que debería tener el usuario CLIENTE o ADMIN -->
      <td>
        <a href="/editar_usuarios/{{signups.0}}">Editar</a>
        <a href="/eliminar_usuario/{{signups.0}}">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>    
</table>
</body>
</html>