body {
    /* background-image: url(IMAGENES/Backround_BEII.png); */
    background-image:url(../IMAGENES/02-BACKROUND.png);

}
.xxx {
    width: 40%;
    margin-top: 10%;
    margin-left: 25%; 
}
.mb-3 {
    color: white;
}
.left-image {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 70%;
    z-index: 1;
    border-bottom: 0px;
    width: 40%;
}
.btn {
    cursor: pointer;
    background-color: #60ec64;
    color: black;
    margin-bottom: 25px;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}
.btn:hover {
    background-color: #2e6e2e;
}
.link-1{
    text-decoration: none;
    color: white;
}
.button-2{
    cursor: pointer;
    background-color:#011402;
    color: rgb(135, 187, 135);
    margin-top: 10px;
    margin-left: 150px;
    width: 45%;
    border: none;
    border-radius: 5px;
    height: 40px;
}
.button-2:hover{
    background-color: #2e6e2e;
}
.form-control {
    background-color: rgba(255, 255, 255, 0.178);
    border: none;
}
h2{
    color: white;
    font-family:"Jost", sans-serif;
    margin-bottom: 20px;
}
