body {
    background-image: url(../IMAGENES/02-BACKROUND.png);
    flex-direction: column;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:"Jost", sans-serif;
    font-weight:600;
}
.one{
margin: 10%;
padding: 20px;
}
.python {
    background-color:#09140F;
    font-family:"Jost", sans-serif;
    font-weight:600;
    font-size: larger;
    color: azure;
}
.xxx {
    width: 100%;
    border-radius: 10px;
    background-color: #17412d8a;
    color: white;
    /* top: 50%; Move the element 50% from the top of the page */
    left: 50%;

}

.mb-3 {
    color: white;
    font-family:"Jost", sans-serif;
    font-weight:600;

}

.left-image {
    background-color: #8abd82;
    border-radius: 50%;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-800px, -50%);
    height: 500px;
    z-index: 1;
    margin-bottom: 1%;
    width: 500px;
    max-width: 956px; /* Ajusta el ancho a la pantalla */

}

.btn {
    cursor: pointer;
    background-color: #60ec64 !important;
    color: #2e6e2e;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    font-family:"Jost", sans-serif;
    font-weight:600;

}
.btn:hover {
    background-color: #2e6e2e;
}
.link-1{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    margin-top: 10px;
}
.button-2{
    cursor: pointer;
    background-color:#09140F;
    color: rgb(135, 187, 135);
    margin-top: 2px;
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 40px;
    position: static;
    font-family:"Jost", sans-serif;
    font-weight:600;


}
.button-2:hover{
    background-color: #0a170a;
}
.form-control {
    background-color: rgb(255, 255, 255);
    border: none;
    border-bottom: 2px solid white; /* Agrega un borde inferior blanco */
    padding: 10px;
    margin-bottom: 10px;
}
h2{
    color: white;
    font-family:"Jost", sans-serif;
    margin-bottom: 20px;
    text-align: center;
}