nav {
    background-color: rgb(255, 255, 255);
    background: linear-gradient(rgba(255, 255, 255, 0.248), rgba(0, 0, 0, 0));
    height: 80px;
  }
  #navbarNav { 
    justify-content: end;
    padding-right: 20px;
  }
  .nav-white {
    font-weight: 500px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
  }
  .nav-white:visited {
    font-weight: 500px;
    color: white;
  }
  .nav-white:hover{
    text-decoration: underline;
    color: white;
  }
  body{
    background-image: url(../IMAGENES/02-BACKROUND.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:"Jost", sans-serif;
    font-weight:600px;
    
  }
  .container-fluid {
    max-width: 1200px; 
    margin: 0 auto;} 

 .my-image-container {
    text-align: center; 
  }

 .my-image {
    max-width: 100%; 
    height: auto;
    margin: 20px auto; 
  }

  
 .form-container {
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px; 
  }
  .form{
      display:flex ;
      flex-direction: column;
  }
  a.primary-button{
    background-color: #70D460;
    border-radius: 10px;
    border: none;
    color: var(--white);
    width: 70%;
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  a.login-button{
    margin-top: 15px;
    margin-bottom: 30px;
    color: #ffffff;
  }
  .form-code {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 400px;
    margin-top: 15%;
  }
  .my-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  a.bar{
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
    margin-bottom: 0rem;
    margin-right: auto;
    opacity: 0.6;
    text-decoration: none;
  }
  .nav-link {
      color: #ffffff;
  }
  .form-code button{
      width: 300px;
  }
    
      .footer-fixed {
        position: fixed; 
        bottom: 0;
        width: 100%;
        height: 40px;
        background-color: rgba(166, 192, 114, 0.671);
        text-align: center;
        padding: 10px; 
      }

      body {
        min-height: 100vh; 
        display: flex;
        flex-direction: column; 
      }

     
     .footer-fixed {
        margin-top: auto; 
      }
  