body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  font-family:"Jost", sans-serif;
  font-weight:600;
  position: relative;
  background-image:url("../IMAGENES/08-BACKROUND.png");  

}

@media(max-width: 991px){
  .sidebar{
    background-color: #17412D;
    backdrop-filter: blur(10px);
  }
}
.producto {
  width: 370px;
  height: auto;
  margin-top: auto;
  margin: auto auto auto auto;
  justify-content: center;
}


.producto-info {
  background-color: #8ABD82;
  padding: 20px;
}

.descripcion-cont {
  text-align: justify;
  width: 70%;
}


div {
  color: white;
}

.producto-acciones {
  margin-top: 15px;
}


