body {
    background-color: #343a40 !important;
    background-image: url(../IMAGENES/07-BACKGROUND.png) !important;
    font-family: 'Jost', sans-serif !important;
    color: white !important;
}

.form-label, h2, label {
    color: white !important;
}

.form-container {
    max-width: 900px !important;
    width: 60% !important;
    margin: auto !important;
    padding: 20px !important;
    background-color: #2e6e2e !important;
    border-radius: 10px !important;
}

.btn {
    background-color: #8abd82 !important;
    color: white !important;
}
