body {
    background-image: url(../IMAGENES/07-BACKGROUND.png);
    font-family: 'Jost', sans-serif;
}
  
table {
  width: 100%;
  background-color: #8abd82;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ffffff;
}
thead {
    background-color: #1b361b;
    color: white;
}

.btn-custom {
  background-color: #60ec64;
  color: #2e6e2e;
}

h1{
    color: #ffffff;
    text-align: center;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px; /* Espacio entre las tarjetas */
  }
  .a {
    border-radius: 5px !important;
    margin-left: 1% !important;
    margin-right: 1% !important;
    border: none !important;
    width: 100% !important;
    height: 45px !important;
    background-color: #09140F;
    color: #8dcf82 !important;
    font-size: 20px !important;
    margin-bottom: 10px !important;
    font-family: "Jost", sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-optical-sizing: auto !important;
    text-decoration: none;
    
}
li{
  padding-right:  55px;
}
