body {
    background-image: url(../IMAGENES/07-BACKGROUND.png);
    font-family: 'Jost', sans-serif;
}
  
table {
  width: 100%;
  background-color: #8abd82;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ffffff;
}
thead {
    background-color: #1b361b;
    color: white;
}

.btn-custom {
  background-color: #60ec64;
  color: #2e6e2e;
}

h1{
    color: #ffffff;
    text-align: center;
}