
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BEI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="32*32" href="FAVI/favicon-32x32.png">
    <style>
        body {
           background-image:url("IMAGENES/07-BACKGROUND.png");  
    
         }
        .container-fluid {
          background-color: #17412d9c;
          opacity: 0.9;
        }
        nav {
          background-color: rgb(255, 255, 255);
      background: linear-gradient(rgba(255, 255, 255, 0.248), rgba(0, 0, 0, 0));
      height: 80px;
      
    }
    #navbarNav { 
      justify-content: end;
      
    }
    .nav-white {
      font-weight: 500;
      color: rgb(255, 255, 255);
      text-decoration: none;
      margin-left: 10px;
      margin-right: 10px;
    }
    #perfil{
      color: #8ABD82;
      font-weight: bold;
    }
    .nav-white:visited {
      font-weight: 500;
      color: white;
    }
    .nav-white:hover{
      text-decoration: underline;
      color: white;
    }

    .navbar-toggler {
      background-color: rgb(221, 221, 221);
    }
    </style>
</head> 
   


  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid" style="background-color: #8abd8200;">
        <a class="navbar-brand" href="index.html" style="background-color: #1fdd8400;">
          <img src="IMAGENES/07-LOGO.png" alt="1" width="40" height="50">
        </a>
      </div>
       
      <nav class="navbar navbar-expand">
        <div class="container-fluid" style="background-color: #18c57700;">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
             <button type="submit" style="background-color: #8ABD82;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0;" style="color: white;"/>
            </svg></button>
            </form>
          </div>
        </div>
      </nav>

        
         
      <div class="collapse navbar-collapse" id="navbarNav"></div>
          <ul id="navitems" class="navbar-nav">
            <li class="nav-item">
              <a class="nav nav-white" href="index.html">TIENDA</a>
            </li>
            <li class="nav-item">
              <a class="nav nav-white" href="12-CONOZCANOS.html">CONOZCANOS</a>
            </li>
            <li class="nav-item">
              <a class="nav nav-white" href="09-CARRITO.html">CARRITO</a>
            </li>
            <li class="nav-item">
              <a class="nav nav-white" id="perfil" href="02-LOGIN.html">LOGIN</a>
            </li>
            <li class="nav-item">
              <a class="nav nav-white" id="perfil" href="01-SIGN_UP.html">SIGNUP</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>

          
          

    <div class="container">
      <div class="row">
         <div class="text-light " style="background-color:none">
          <br>
            <h1 style="text-align:center;">¡Echa un vistazo a nuestro catálogo!</h1>
         </br>
         </div>

          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 col-lx-4">
              <img src="IMAGENES/07-BOLSITA.jpg" class="card-img-top" alt="bol" width="40" height="200">
              <div class="card-body">
                <a href="08-PRODUCT.html"class="btn btn-" style="background-color:#8ABD82; border-color:#0F2B1E; color: white;">Ver más</a>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-lx-4">
              <img src="IMAGENES/07-BOLSITA.jpg" class="card-img-top" alt="bol1" width="40" height="200">
              <div class="card-body">
                <a href="08-PRODUCT.html"class="btn btn-" style="background-color: #8ABD82; border-color: #0F2B1E; color: white;">Ver más</a>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-lx-4">
              <img src="IMAGENES/07-BOLSITA.jpg" class="card-img-top" alt="bol2" width="40" height="200">
              <div class="card-body">
                <a href="08-PRODUCT.html"class="btn btn" style="background-color: #8ABD82; border-color: #0F2B1E; color: white;">Ver más</a>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 col-lx-4">
            <img src="IMAGENES/07-BOLSITA.jpg" class="card-img-top" alt="bol" width="40" height="200">
            <div class="card-body">
              <a href="08-PRODUCT.html"class="btn btn-" style="background-color:#8ABD82; border-color:#0F2B1E; color: white;">Ver más</a>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 col-lx-4">
            <img src="IMAGENES/07-BOLSITA.jpg" class="card-img-top" alt="bol" width="40" height="200">
            <div class="card-body">
              <a href="08-PRODUCT.html"class="btn btn-" style="background-color:#8ABD82; border-color:#0F2B1E; color: white;">Ver más</a>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 col-lx-4">
            <img src="IMAGENES/07-BOLSITA.jpg" class="card-img-top" alt="bol" width="40" height="200">
            <div class="card-body">
              <a href="08-PRODUCT.html"class="btn btn-" style="background-color:#8ABD82; border-color:#0F2B1E; color: white;">Ver más</a>
            </div>
          </div>
        
          <div class="text-light" style="background-color:none">
            <br>
             <h1 style="text-align:center">¿Por qué es importante usar bolsas ecológicas?</h1>
            </br>
          </div> 
           <h4 style="justify-content:stretch;color: whitesmoke;">Las bolsas ecológicas son importantes porque ayudan a proteger el medio ambiente. Las bolsas de plástico son un problema para el medio ambiente porque tardan cientos de años en descomponerse, lo que contribuye a la contaminación del aire, el agua y el suelo. Las bolsas ecológicas, por otro lado, están hechas de materiales biodegradables o reciclables, lo que significa que se pueden descomponer de manera natural o reutilizarse, reduciendo así el impacto ambiental.
           Además de ser respetuosas con el medio ambiente, las bolsas ecológicas también son más duraderas que las bolsas de plástico. Las bolsas de plástico suelen romperse o rasgarse con facilidad, lo que obliga a los consumidores a comprar nuevas bolsas con frecuencia. Las bolsas ecológicas, por otro lado, pueden reutilizarse muchas veces, lo que ahorra dinero y reduce el desperdicio.
           Por todas estas razones, es importante utilizar bolsas ecológicas. Al hacerlo, estamos contribuyendo a proteger el medio ambiente y a reducir nuestro impacto en el planeta.</h4>  
      </div>
    </div>
      
    <div class="footer-fixed" style="color: #09140F; display: inline-block; margin-left: 10px; font-size: 18px;
    margin-right: 5px; position:relative;
      bottom: 0;
      width: 100%;
      height: 40px;
      background-color: rgba(166, 192, 114, 0.671);
      text-align: center;">
      <p class="copyright">© 2024 BEI by <a href="#">SYNTAX</a> - Contáctenos: Tel. 318123123 - Mail. asdasdasd@gmail.com </p>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
  </html>