header{
  height: 70px;
}
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px;
  box-sizing: border-box;
}
body {
    background-image:url(/IMAGENES/Backround_BEI.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
.container{
    display: block;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height:450px;
}
input[type="verify"] {
    width: 50%;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: white;
    opacity: 0.4;
  }

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
  .p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 16px;
    font-style: normal;
    
  }
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    color: white;
}


button {
    display: block;
    margin-top: 20px;
    width: 200px;
    padding: 20px;
    background-color: #70D460;
    color: #17412D;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Montserrat', 'sans-serif';
    text-align: center;
  }
  .diagonal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img1 {
position: relative;

}
.img2 {
  position: relative;
  
  }